@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

html{box-sizing: border-box;}
*, *:before, *:after{ box-sizing: inherit;}

img{
    width:20px;
}

:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}



body{
	line-height: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1, h2 ,h3{
    line-height: 1.2;
    color: var(--Dark-Grayish-Blue);
}

h2{
    font-size: 30px;
}

p{
    line-height: 1.5;
    color: var(--Grayish-Blue);
}

main{
    margin-bottom: 100px;
}

.button-green{
    background-color: var(--Strong-Cyan);
    padding: 0px 20px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    color: rgba(255, 255, 255, 0.94);
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0rem 0.625rem 1.25rem rgba(137, 229, 199, 0.503305), inset 0rem -0.1875rem 0rem rgba(0, 0, 0, 0.151333);
    transition: ease-in 0.2s;
}

.button-purple{
    background-color: var(--Light-Blue);
    padding: 0px 20px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    color: rgba(255, 255, 255, 0.94);
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0rem 0.625rem 1.25rem rgba(120, 162, 238, 0.503), inset 0rem -0.1875rem 0rem rgba(0, 0, 0, 0.151333);
    transition: ease-in 0.2s;
}

.button-green:hover {
    opacity: 70%;
  }

.button-purple:hover {
    opacity: 70%;
  }

a:link {
    text-decoration: none;
}

a:hover{
    color: var(--Strong-Cyan);
}

a{
    color: var(--Dark-Grayish-Blue);
}

footer{
    background-color: rgb(245,246,248);
}

#attribution a:hover{
    color: blue;
}

@media (min-width:375px){

    body{
        background-image: url(images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

   .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px;
   }

   .header h1{
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
   }

   .header img{
    width: 30%;
    margin-bottom: 30px;
   }

   .header p{
    text-align: center;
    margin-bottom: 50px;
   }

   .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: 80%;
   }

   .button-green{
    padding: 15px 0px;
    margin-bottom: 20px;
   }

   .button-purple{
    padding: 15px 0px;
    
   }

   main{
    padding: 10px;
    text-align: center;
   }

   h2{
    font-size: 30px;
   }

   #p-intro-1{
    margin-bottom: 70px;
    line-height: 1.5;
   }

   .hardware-img{
    width: 100%;
    margin-bottom: 30px;
   }

   #snippents-headers h3{
    margin-bottom: 0;
    font-size: 25px;
   }

   #snippents-headers p{
    margin-bottom: 50px;
   }

   .section-1 h2{
    margin-bottom: 0;
   }

   .section-1 {
    margin-bottom: 150px;
   }

   .section-2 p{
    margin-bottom: 40px;
   }

   .section-2 img{
    margin-bottom: 60px;
   }

   .section-3 h2{
    margin-bottom: 0;
   }

   .section-3-p{
    margin-bottom: 100px;
   }

   .icons{
    width: 13%;
    margin-bottom: 20px;
   }

   .single-tool p{
    margin-bottom: 0;
   }

   .single-tool{
    margin-bottom: 60px;
   }

   .single-tool:nth-child(3){
    margin-bottom: 0;
   }

   #tools{
    margin-bottom: 100px;
   }

   #companies img{
    width: 40%;
    margin-bottom: 50px;
   }

   #companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
   }
   
   .section-4 p{
    margin-bottom: 40px;
   }

   .section-4 h2{
    margin-bottom: 0;
   }

   .section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo-footer{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 15%;
    }

    #links-footer ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        min-height: 30vh;
        justify-content: space-between;

    }

    #social-logos{
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        gap: 30px;
    }
    
    #attribution{
        text-align: center;
        font-size: 14px;
    }
}

@media (min-width:1281px){

    body{
        background-image: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    main{
        padding: 0;
    }

    h2{
        font-size: 40px;
    }

    .header img{
        width: 130px;
    }

    .header h1{
        font-size: 50px;
    }

    .header p{
        font-size: 20px;
        width: 50%;
    }

    .buttons{
        width: 31%;
        flex-direction: row;
        height: 60px;
    }    

    .button-green{
        width: 220px;
        margin-bottom: 0;
    }

    .button-purple{
        width: 220px;
    }
        

    #p-intro-1{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .hardware-img{
        width: 60%;
        margin-bottom: 0;
        position: relative;
        right: 45px;
    }

    #snippets-img-headers{
        display: flex;
    }

    #snippents-headers{
        text-align: left;
        margin-left: 70px;
        margin-top: 70px;
    }

    #snippents-headers p{
        width: 60%;
    }

    .section-2 p{
        margin-bottom: 100px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .icons{
        width: 50px;
        
    }

    #tools{
        display: flex;
        margin-top: 80px;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 160px;
        padding: 0px 100px;
    }

    .single-tool{
        margin-bottom: 0;
        width: 25%;
    }

    #companies{
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 100px;
    }

    #companies img{
        width: 150px;
    }

    .section-4 p{
        width: 45%;
    }

    #logo-footer{
        width: 50px;
    }
    
    #footer{
        flex-direction: row;
        justify-content:space-evenly;
        min-height: 20vh;
    }

    #links-footer ul{
        flex-direction: row;
        flex-wrap:wrap;
        min-height: 15vh;
        width: 500px;
        
    }

    li{
        width: 40%;
        font-size: 14px;
        text-align: center;
    }

    

}